.background{
    position: fixed;
    top:0;
    left:0;
    width: 99.9%;
    height: 99.9%;
    background: rgba(5, 5, 16, 0.16);
}

.modal{
    margin: 15% auto;
    width: 25%;
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;

    .modal_header{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        h3{
            margin-left:30%;
        }

        button{
            margin: auto 10px;
            width: 25px;
            height: 25px;
            color: #C3C3C6;
            background: #F7F7F8;
            border-radius: 12px;
            border: none;
            font-size: 17px;
        }

        button:hover,
        button:active{
            border: 1px solid #7d8c98;
        }
    }
}

.form_radio:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.form_radio{
    width: 90%;
    margin: auto;

    div{
        width: 100%;

        label {
            margin-right: 15px;
            line-height: 32px;
        }
        
        input {
        margin-right: 5px;
        position: relative;
        top: 4px;
        width: 16px;
        height: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        border: 2px solid #6534FF;
        transition: 0.2s all linear;
        outline: none;
        cursor: pointer;
        }
        
        input:checked {
        border: 5.5px solid #6534FF;
        }
    }
}