.page{
    margin: 90px auto;
    text-align: center;

    div{
        margin: auto;
        width: 70px;
        height: 70px;
        background-image: url(../../assets/ufo.svg);
        background-repeat: no-repeat;
    }

    a{
        text-decoration: none;
    }
}